@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap');

@tailwind base;
@tailwind utilities;

body {
  background-color: #eee;
}

p {
  margin-bottom: 1em;
}

button {
  @apply bg-blue-500 text-white uppercase font-medium;
}

.ap-button {
  @apply bg-blue-500 text-white uppercase font-medium px-3 py-1;
}

.ap-text-content p {
  margin: 1em 0;
}

.ap-text-content h1 {
  @apply text-3xl;
}

.ap-text-content h2 {
  @apply text-2xl;
}

.ap-text-content h3 {
  @apply text-xl;
}